* {
    margin: 0;
    padding: 0;
    color: #008170;
}

.header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: #0F0F0F;
    border-radius: 25px;
    margin:1% 1% 0;
}

body{
    background-color: #232D3F;
}

.contenedor {
    display: grid;
    text-align: center;    
    align-items: center;
    padding: 90px 0 0;
}

.titulo{
    margin-bottom: 15px;
}

h2{
    min-height: 55px;
    max-height: 55px;
}

.poster{
    border-radius: 90px;
}

.pelicula{
    position: relative;
    display: inline-block;
    text-align: center;
}

.pelicula:hover .sinopsis{
    display:block;
}

.pelicula:hover .poster{
    opacity: 0.1;
}

.puntaje{
    background: #0F0F0F;
    border-radius: 100%;
    position:absolute;
    align-content: center;
}

.sinopsis{
    display:none;
    background-color:transparent;
    color: #008170;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-12%, -45%);
    text-shadow: 1px 1px 1px black;
}
.sinopsis p{
    overflow:unset;
}

.paginacion{
    display: block;
    padding: 20px 0 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}
.paginacion button{
    background-color: #0F0F0F;
    border-radius: 50PX;
}

@media (max-width: 345px) {
    *{
        color: transparent;
        width: 0;
        height: 0;
    }
}


@media (min-width: 345px) and (max-width: 719px) {
    .body{
        min-width: 345px;
    }
    .contenedor{
        min-width: 345px;
        
    }
    .pelicula {
        align-items: center;
        text-align: center;
        display: block;
        width: 90%;
        min-width: 276px;
        padding: 0 5% ;
        margin-left: 4%;
    }

    .poster{
        width: 100%;
    }

    .paginacion button{        
        width: 100PX;
        height: 25PX;
    }

    .puntaje {
        width: 12%;
        height: 8%;
        top: 77%;
        left: 10%;
        font-size: 25px;
    }

    .sinopsis p{
        font-size: 25px;
    }
}

@media (min-width: 720px) {
    
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        width: 720px;        
        margin: auto;
    }
    .pelicula {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 2.5%;
        margin-bottom: 20px;
    }

    .poster{
        width: 95%;
        padding: 2.5%;
    }

    .paginacion button{
        width: 175PX;
        height: 40PX;
    }

    .puntaje {
        width: 12%;
        height: 8%;
        top: 75%;
        left: 10%;
    }

    .sinopsis p{
        font-size: 15px;
    }
}

@media (min-width: 1080px) {
    .contenedor {
        min-width: 1080px;
        max-width: 1130px;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
    }

    .pelicula {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin: 0;
        padding: 0 4%;        
        min-width: 265px;
        max-width: 400px;
        min-height: 470px;
        max-height: 500px;
    }

    .poster{
        min-width: 250px;
        max-width: 250px;
        min-height: 350px;
        padding: 2.5%;
        border-radius: 50px;
    }

    .paginacion button{
        margin-top: 25px;
        width: 250PX;
        height: 50PX;
    }

    .puntaje {
        top: 70%;
        left: 15%;
        width: 12%;
        height: 7%;
    }

    .sinopsis p{
        font-size: 10.5px;
    }

    .titulo{
        font-size: 20px;
    }
}   